process {
   container = 'ebensma/mpcm:newest'
   executor = 'k8s'
}

docker {
   enabled = true
}

k8s {
   launchDir = '/Users/ebensman/code/workspaces/MPCM'
   storageClaimName = 'deepgtex-prp'
   storageMountPath = '/Users/ebensman/code/workspaces/MPCM'
   storageSubPath = '\\projects\\ebenz99\\MPCM-Nextflow\\op'
}

cacheable = true
runName = 'shrivelled-meninsky'
